#  bot config
DISCORD_TOKEN=your.discord.token#  replace on your token


#  groq config
GROQ_API_KEY=your.groq.api.key#  replace on your key
MODEL_NAME=groq-model-name#  replace on your model name
MAX_HISTORY=1000

SYSTEM_PROMPT=#  enter your system prompt